*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.barraAcciones{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.columna3{
    flex-basis: 33%;
    text-align: center;
}
#nombre{
    width: 75%;
    padding: 10px 5px;
}
.contenedorLista{
    width: 100%;
}
table{
    width: 100%;
    padding: 0 40px;
    margin-top: 15px;
}
td{
    text-align: center;
    height: 75px;
    width: 33%;
    border-bottom: 2px solid gray;
}
.contenedor-error{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    border: 2px solid red;
}

.contenedor-error h3{
    background-color: #03249a;
    padding: 1rem;
    text-align: center;
    color: white;
}

.contenedor-error p{
    text-align: center;
    padding: 3rem 5rem;
}

.contenedor-error button{
    margin: 4rem 50%;
    transform: translateX(-50%);
}

#contenedoresFlotantes{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    padding: 150px;
    transform: translate(-50%, -50%);
    border: 1px solid black;
}

.contenedor-iconos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    border: 1px solid black;
    padding: 3px 0;
    border-radius: 30px;
    margin: 0 auto;
    box-shadow: 3px 3px 3px gray;
}

.contenedor-iconos span{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin: 0 10px;
}

.contenedor-iconos span img{
    width: 100%;
    cursor: pointer;
    transition: transform 0.1s ease-out;
}

.contenedor-iconos span img:hover{
    transform: scale(1.1);
}




/* Color Palette https://colorhunt.co/palette/d6efd880af81508d4e1a5319

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.contenedor-principal{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    background: linear-gradient(to right, #508D4E, #80AF81, #508D4E);
}

.left-col{
    display: flex;
    flex-basis: 25%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.contenedor-añadir{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main{
    flex-basis: 50%;
}

.right-col{
    flex-basis: 25%;
}


table button{
    padding: 0.5rem;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

table button:hover{
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px gray,
                -2px 2px 5px gray;
}

table button:active{
    transform: translateY(0px);
    box-shadow: none;
}

.filaTabla:hover{
    background-color: rgba(255, 255, 255, 0.475);
    cursor: pointer;
}

.filaEstadisticas td{
    background-color: #508D4E;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid #508D4E;
    transition: all 1s ease-out;
}

.filaEstadisticas td:hover{
    transform: scale(1.05);
    border: 1px solid #039a10;
    border-color: #039a10;
    background-color: #8dbf8c;
}

 */