*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-weight: bold;
    letter-spacing: 6px;
    font-size: 50px;
    color: #0b3b65;
}
.contenedorPrincipal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
.barraAcciones{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #5C7285;
    padding: 20px 0;
}

.titulo{
    width: 100%;
    background-color: #5C7285;
    text-align: center;
    padding: 10px 0;
}

.columna3{
    flex-basis: 33%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#columnaBuscar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#columnaBuscar input{
    margin-bottom: 15px;
    width: 100%;
}

#reemplazarNombre ,#buscarNombre{
    margin-left: 15px;
    padding: 5px 2.5px; 
    font-size: 21px;
    width: 60%;
    border: 2px solid #286091;
    border-radius: 5px;
    font-family: "Roboto Condensed", serif;
    color: rgb(97, 97, 97);   
}
#buscar {
    margin-left: 15px;
    padding: 5px 2.5px; 
    font-size: 21px;
    width: 40%;
    border: 2px solid #286091;
    border-radius: 5px;
    font-family: "Roboto Condensed", serif;
    color: Gray;
    
}

#nombre{
    width: 75%;
    padding: 10px 5px; 
    font-size: 30px;
    margin: auto;
    border: 2px solid #286091;
    border-radius: 5px;
    font-family: "Roboto Condensed", serif;
    color: Gray;
}
.contenedorLista{
    width: 100%;
    background-color: #E2E0C8;
    min-height: 100vh;
}
table{
    width: 100%;
    padding: 0 40px;
    margin-top: 15px;
}
td{
    font-family: "Roboto Condensed", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 25px;
    height: 75px;
    width: 33%;
    border-bottom: 2px solid gray;
    color: rgb(87, 87, 87);
}

.filaTabla:hover{
    background-color: rgba(255, 255, 255, 0.652);
}

.contenedor-error{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    border: 2px solid red;
    border-radius: 5px;
}

.contenedor-error h3{
    background-color: #03249a;
    padding: 1rem;
    text-align: center;
    color: white;
    font-family: "Roboto Condensed", serif;
    font-size: 45px;
    font-weight: bold;
}

.contenedor-error p{
    text-align: center;
    padding: 3rem 5rem;
    color: rgb(88, 87, 87);
    font-family: "Roboto Condensed", serif;
}

.contenedor-error button{
    margin: 4rem 50%;
    transform: translateX(-50%);
}

#contenedoresFlotantes{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    transform: translate(-50%, -50%);
    border: 1px solid gray;
    font-family: "Roboto Condensed", serif;
    color: rgb(97, 97, 97);
    margin-left: 15px;
    padding: 5%; 
    font-size: 30px;
    width: 40%;
    border-radius: 5px;
    text-align: center;
}
#nombreReemplazado{
    margin-left: 15px;
    padding: 5px 2.5px; 
    font-size: 21px;
    width: 60%;
    border: 2px solid #286091;
    border-radius: 5px;
    font-family: "Roboto Condensed", serif;
    color: rgb(97, 97, 97);
    
}

.contenedor-iconos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    border: 1px solid gray;
    padding: 3px 0;
    border-radius: 30px;
    margin: 0 auto;
    box-shadow: 3px 3px 3px gray;
}

.contenedor-iconos span{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin: 0 10px;
}

.contenedor-iconos span img{
    width: 100%;
    cursor: pointer;
    transition: transform 0.1s ease-out;
}

.contenedor-iconos span img:hover{
    transform: scale(1.1);
}

.reves-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px gray;
    cursor: pointer;
    transition: transform 0.1s ease-out;
    background-color: transparent;
    margin-right: 20px;
}

.reves-img img{
    padding: 3px;
    border-radius: 50%;
    width: 100%;
    border: 1px solid gray;
}

.reves-img:hover{
    transform: scale(1.1);
}

#botonAnadir{
    display: inline-block;
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
    margin: 0 10px;
}

#botonAnadir img{
    width: 100px;
    height: 50px;
    border: 2px solid rgb(0, 99, 0);
    border-radius: 5px;
}

#botonAnadir:hover{
    transform: scale(1.1);
}
#botonAnadir:active{
    transform: scale(0.9);
}

button{
    padding: 5px 15px;
    cursor: pointer;
    margin: 0 5px;
    font-size: 20px;
    background-color:#4c81af ;
    color: rgb(227, 225, 225);
    border-radius: 5px;
    border-color: #084f8d;
    font-family: "Roboto Condensed", serif;
    
}
button:hover{
    background-color: #084f8d;
}

.filaEstadisticas{
    background-color: #cecfce;
}

.filaEstadisticas td{
    color: #093357;
}

.tdNombre{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.tdNombre span:nth-child(1){
    flex-grow: 1;
    flex-basis: 50%;
}